html,body {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
}

  

html, body, h1,h2,h3,h4,h5,h6,p,a,span,div{
    font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 1614px) {
    .container{
        max-width: 1614px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1613px) {
    .container{
        width: 100%;
        max-width: unset;
    }

}

.whatsapp{
    position: fixed;
    bottom: 32px;
    right: 32px;
    @media only screen and (max-width: 1200px) {
        right: 15px;
        bottom: 15px;
        z-index: 999999;
    }
    
    img {
        width: 64px;
        height: 64px;
    
        @media only screen and (max-width: 1200px) {
            width: 52px;
            height: 52px;
        }
    }

}
button{
    cursor: pointer;
}


.button{
    background-color: $red;
    border: 0;
    outline: none;
    color: $white;
    font-size: 17px;
    font-weight: $bold;
    padding: 17px 50px;
    svg{
        margin-left: 19px;
    }

    transition: background-color 0.7s;

    &:hover{
        background-color: $black;
        color: $white;
    }
}


header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: transparent;

    transition: 0.6s top;

    .hamburger{
        display: none;
        z-index: 999;
        button{
            width: 26px;
            background-color: transparent;
            border: 0;
            outline: none;
            padding: 0;
            > div {
                width: 100%;
                height: 3px;
                background-color: $red;
                margin-bottom: 6px;
                border-radius: 3px;
            }
        }
    }

    .logo{
        padding: 50px 15px;
    }

    .desktop-nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .navigation{
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            li {
                font-size: 16px;
                padding: 0 40px;
                font-weight: $semiBold;
                
                a {
                    text-decoration: none;
                    color: $black;
                    text-transform: uppercase;
                    position: relative;
                    padding: 6px 0;
                    &::after{
                        content: ' ';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 2px;
                        animation-name: active-line-animation;
                        animation-duration: 0.2s;
                        background-color: $red;
                        display: none;
                    }
    

                }
                &:hover{
                    position: relative;
                    a {
                        &::after{
                            display: block;
                        }
                    }
                    
                }
            }
        }

        .social{
            margin-left: 20px;
            svg{
                margin: 0 10px;
            }
        }
    }

   


    
}

@keyframes active-line-animation {
    from { left: 50%; right: 50%  }
    to { left:0; right: 0; }
}


.scroll-header{
    //background-color: rgba(217, 217, 217, 1);
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);

    .logo{
        padding: 10px 0;
    }
}

.hide-header{
    top: -135px;
}



footer{
    background-color: $black;
    color: $white;
    padding-top: 120px;

    .spacer{
        width: 100%;
        height: 1px;
        background-color: #707070;
        margin-top: 60px;
        margin-bottom: 40px;
    }


    .copyright{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 38px;
        a {
            color: $white;
            font-weight: $semiBold;
        }
    }

    .logo{
        > svg{
            max-width: 100%;
            margin-bottom: 78px;
            path[id=Path_74]{
                fill: $white;
            }
        }

        .social{
            a {
                margin-right: 20px;
            }
            svg{
                path{
                    fill: $white;
                }
            }
        }

    }

    p {
        color: $white;
        text-decoration: none;
        font-size: 14px;
        font-weight: $regular;
    }

    h6 {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: $semiBold;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
            width: 50%;
            float: left;
            a {
                color: $white;
                text-decoration: none;
                font-size: 14px;
                font-weight: $regular;
            }
        }
    }
}


.mobile-navigation{
    z-index: 998;
    background-color: $red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.8s left;
    left: 110%;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        > li {
            text-align: center;
            margin-bottom: 16px;
            a {
                color: $white;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
}

.mobile-navigation-open{
    left: 0;
}

.hamburger-animation{

      
    button{
        position: relative;
        animation-name: hamburger-animation;
        animation-duration: 2s;       

        > div {
            background-color: $white !important;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1px;
            display: block;

            &:nth-child(2){
                display: none;
            }
            &:nth-child(1){
                transform: rotate(45deg);
            }
            &:nth-child(3){
                transform: rotate(-45deg);
            }
            
        }

    }
}
@keyframes hamburger-animation {
    from { transform: rotate(-360deg)  }
    to {transform: rotate(360deg)}
}



.required{

    animation-name: required-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 2;       
    border: 2px solid rgb(201, 35, 35) !important;

}


@keyframes required-animation {
    0% { transform: translateY(-3px)  }
    50% {transform: translateY(3px)}
    100% {transform: translateY(-3px) }

}




@media only screen and (max-width: 767px) {
    
    header{

        .hamburger{
            display: flex;
            justify-content: flex-end;
        }

        .logo{
            padding: 10px 0;
            svg{
                height: 50px;
            }
        }

        .desktop-nav{
            display: none;

        }

    


        
    }

    footer{
        .social{
            margin-bottom: 50px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header{

        .hamburger{
            display: flex;
            justify-content: flex-end;
        }

        .logo{
            padding: 10px 0;
            svg{
                height: 50px;
            }
        }

        .desktop-nav{
            display: none;

        }

    


        
    }
    footer{
        .social{
            margin-bottom: 50px;
        }
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

    header{
        .desktop-nav{
            display: flex;
            align-items: center;
            justify-content: flex-end;
    
            .navigation{
                list-style: none;
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                li {
                    font-size: 16px;
                    padding: 0 20px;
                    font-weight: $semiBold;
                    
                    a {
                        text-decoration: none;
                        color: $black;
                        text-transform: uppercase;
                        position: relative;
                        padding: 6px 0;
                        &::after{
                            content: ' ';
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 2px;
                            animation-name: active-line-animation;
                            animation-duration: 0.2s;
                            background-color: $red;
                            display: none;
                        }
        
    
                    }
                    &:hover{
                        position: relative;
                        a {
                            &::after{
                                display: block;
                            }
                        }
                        
                    }
                }
            }
    
            .social{
                margin-left: 20px;
                svg{
                    margin: 0 10px;
                }
            }
        }
    }

    
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 20px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 3px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  