$light-grey: #E8E8E8;
$grey: #D1D1D1;
$dark-grey: #888888;
$white: #FFFFFF;
$light-black: #2F3234;
$black: #333333;
$dark-black: #222222;
$primary: #DA212E;
$blueGray: #828DB1;
$fieldBorder: #D9D9D9;



$light: 300;
$semiBold: 600;
$regular: 400;
$medium: 500;
$bold: 700;

$label-color: #9F9F9F;