.home-wrap .into-wrap {
  position: relative;
  height: 980px; }
  .home-wrap .into-wrap .container {
    height: 100%;
    padding-top: 180px; }
    .home-wrap .into-wrap .container .row {
      /*display: flex;
                align-items: center;
                height: 100%;*/ }
  .home-wrap .into-wrap .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 980px; }
    .home-wrap .into-wrap .background-image img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .home-wrap .into-wrap .content {
    animation-name: into-animation;
    animation-duration: 0.5s; }
    .home-wrap .into-wrap .content h6 {
      font-size: 16px;
      font-weight: 400;
      color: #1F1F1F;
      padding-left: 55px;
      position: relative;
      margin-bottom: 18px;
      text-transform: uppercase;
      letter-spacing: 3px; }
      .home-wrap .into-wrap .content h6::after {
        content: ' ';
        width: 40px;
        height: 2px;
        display: block;
        background-color: #E97014;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0; }
    .home-wrap .into-wrap .content .title {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .home-wrap .into-wrap .content .title img {
        width: 120px; }
    .home-wrap .into-wrap .content h1 {
      font-size: 50px;
      font-weight: 400;
      color: #1F1F1F;
      margin-bottom: 20px;
      line-height: 54px;
      text-transform: uppercase; }
      .home-wrap .into-wrap .content h1 > span {
        font-weight: 700; }
    .home-wrap .into-wrap .content p {
      font-size: 18px;
      font-weight: 400;
      color: #1F1F1F;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 0; }
  .home-wrap .into-wrap .right-content {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 64px;
    display: flex; }
    .home-wrap .into-wrap .right-content .item-1 {
      background-color: #E97014;
      padding: 12px 20px 12px 20px;
      margin-bottom: 20px; }
      .home-wrap .into-wrap .right-content .item-1 h6 {
        color: #FFFFFF;
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 0; }
    .home-wrap .into-wrap .right-content .item-2 {
      background-color: #1F1F1F;
      padding: 38px 20px 32px 20px;
      margin-bottom: 20px; }
      .home-wrap .into-wrap .right-content .item-2 p {
        line-height: 34px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 0; }
    .home-wrap .into-wrap .right-content .item-3 {
      background-color: #FFFFFF;
      padding: 10px 20px 10px 20px;
      margin-bottom: 0; }
      .home-wrap .into-wrap .right-content .item-3 p {
        line-height: 24px;
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 0; }
  .home-wrap .into-wrap .car {
    animation-timing-function: ease-out;
    animation-name: car-animation;
    animation-duration: 0.9s;
    position: absolute;
    right: 137px;
    top: 327px;
    width: 920px; }
    .home-wrap .into-wrap .car img {
      width: 100%;
      object-fit: contain; }

.home-wrap .info-section {
  margin-top: -53px;
  margin-bottom: 110px; }
  .home-wrap .info-section .item {
    padding: 28px 40px;
    display: flex;
    align-items: flex-end; }
    .home-wrap .info-section .item .icon {
      width: 58px !important;
      height: 58px !important;
      border-radius: 50%;
      background-color: #1F1F1F;
      font-size: 40px;
      font-weight: 600;
      color: #FFFFFF;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .home-wrap .info-section .item > div p {
      color: #1F1F1F;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0;
      line-height: 30px; }
  .home-wrap .info-section .item-1 {
    background-color: #FFFFFF; }
  .home-wrap .info-section .item-2 {
    background-color: #1F1F1F; }
    .home-wrap .info-section .item-2 > div p {
      color: #FFFFFF; }
    .home-wrap .info-section .item-2 .icon {
      background-color: #E97014;
      color: #FFFFFF; }
  .home-wrap .info-section .item-3 {
    background-color: #E97014; }
    .home-wrap .info-section .item-3 > div p {
      color: #FFFFFF; }

.home-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; }
  .home-form ul li {
    margin-right: 10px; }
    .home-form ul li button {
      background-color: #F3F4F5;
      border: 0;
      outline: none;
      padding: 15px 45px;
      font-size: 16px;
      font-weight: 600; }
  .home-form ul .active button {
    background-color: #E97014;
    color: #FFFFFF; }

.home-form .done-wrap {
  text-align: center; }
  .home-form .done-wrap .check {
    margin: 0 auto;
    width: 128px;
    height: 128px;
    background-color: #F3F4F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home-form .done-wrap .check::after {
      content: ' ';
      width: 30px;
      height: 60px;
      border-right: 10px solid #E97014;
      border-bottom: 10px solid #E97014;
      transform: rotate(45deg);
      display: block; }
  .home-form .done-wrap p {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px !important;
    font-weight: 300 !important;
    max-width: 400px; }

.home-form .form-wrap {
  background-color: #FFFFFF;
  padding: 45px 40px 35px 40px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1); }
  .home-form .form-wrap .button {
    margin-top: 30px;
    display: flex;
    align-items: center; }
    .home-form .form-wrap .button .check-done::after {
      content: ' ';
      width: 10px;
      height: 20px;
      border-right: 4px solid #FFFFFF;
      border-bottom: 4px solid #FFFFFF;
      transform: rotate(45deg);
      display: block;
      margin-left: 20px;
      margin-top: -3px; }
  .home-form .form-wrap .button-disabled {
    background-color: #F3F4F5;
    color: #A8A8A8; }
    .home-form .form-wrap .button-disabled svg path {
      fill: #A8A8A8; }

.home-form .options {
  display: flex;
  align-items: center;
  padding: 17px 0; }
  .home-form .options label {
    font-size: 14px;
    font-weight: 600;
    color: #1F1F1F;
    margin-bottom: 0;
    margin-right: 22px; }
  .home-form .options button {
    background-color: transparent;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    margin-right: 33px; }
    .home-form .options button > div {
      border: 1px solid #A8A8A8;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-right: 10px; }
      .home-form .options button > div::after {
        content: ' ';
        width: 0;
        height: 0;
        transition: width 0.3s, height 0.3s; }
    .home-form .options button .active {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      .home-form .options button .active::after {
        content: ' ';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #E97014;
        display: block; }

.home-form textarea {
  resize: none;
  height: 120px;
  margin-bottom: 0 !important; }

.form-field {
  border: 1px solid #A8A8A8;
  margin-bottom: 30px;
  padding: 17px 20px;
  width: 100%;
  outline: none; }
  .form-field:focus {
    border: 1px solid #E97014 !important;
    box-shadow: none; }
  .form-field .select-field > a {
    padding: 0;
    color: #1F1F1F;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .form-field .select-field > a::after {
      all: unset;
      content: ' ';
      width: 10px;
      height: 10px;
      border-left: 1px solid #1F1F1F;
      border-bottom: 1px solid #1F1F1F;
      display: block;
      transform: rotate(-45deg); }
  .form-field .select-field .dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: 1px solid #A8A8A8;
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll; }
    .form-field .select-field .dropdown-menu button:hover {
      background-color: #F3F4F5; }

.select-wrap {
  padding: 17px 0; }
  .select-wrap .select-field > a {
    padding: 0 20px; }

@keyframes car-animation {
  from {
    transform: translate3d(1057px, -327px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes into-animation {
  from {
    transform: translateY(-100px); }
  to {
    transform: translateY(0); } }

@media only screen and (max-width: 767px) {
  .home-wrap .into-wrap {
    position: relative;
    height: unset;
    padding-bottom: 30px; }
    .home-wrap .into-wrap .container {
      height: unset;
      padding-top: 100px; }
      .home-wrap .into-wrap .container .row {
        /*display: flex;
                    align-items: center;
                    height: 100%;*/ }
    .home-wrap .into-wrap .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .home-wrap .into-wrap .background-image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .home-wrap .into-wrap .content {
      animation-name: into-animation;
      animation-duration: 0.5s; }
      .home-wrap .into-wrap .content h6 {
        font-size: 12px;
        font-weight: 400;
        color: #1F1F1F;
        padding-left: 45px;
        position: relative;
        margin-bottom: 18px;
        text-transform: uppercase;
        letter-spacing: 3px; }
        .home-wrap .into-wrap .content h6::after {
          content: ' ';
          width: 30px;
          height: 2px;
          display: block;
          background-color: #E97014;
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 0; }
      .home-wrap .into-wrap .content h1 {
        font-size: 32px;
        font-weight: 400;
        color: #1F1F1F;
        margin-bottom: 20px;
        line-height: 34px;
        text-transform: uppercase; }
        .home-wrap .into-wrap .content h1 > span {
          font-weight: 700; }
      .home-wrap .into-wrap .content p {
        font-size: 18px;
        font-weight: 400;
        color: #1F1F1F;
        line-height: 30px;
        margin-bottom: 40px; }
    .home-wrap .into-wrap .right-content {
      flex-direction: column;
      justify-content: space-between;
      margin-top: 64px;
      display: flex; }
      .home-wrap .into-wrap .right-content .item-1 {
        background-color: #E97014;
        padding: 12px 20px 12px 20px;
        margin-bottom: 20px; }
        .home-wrap .into-wrap .right-content .item-1 h6 {
          color: #FFFFFF;
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 0; }
      .home-wrap .into-wrap .right-content .item-2 {
        background-color: #1F1F1F;
        padding: 38px 20px 32px 20px;
        margin-bottom: 20px; }
        .home-wrap .into-wrap .right-content .item-2 p {
          line-height: 18px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 0; }
      .home-wrap .into-wrap .right-content .item-3 {
        background-color: #FFFFFF;
        padding: 10px 20px 10px 20px;
        margin-bottom: 0; }
        .home-wrap .into-wrap .right-content .item-3 p {
          line-height: 18px;
          color: #1F1F1F;
          font-size: 16px;
          font-weight: 500;
          font-style: italic;
          margin-bottom: 0; }
    .home-wrap .into-wrap .car {
      animation-timing-function: ease-out;
      animation-name: car-animation;
      animation-duration: 0.9s;
      position: absolute;
      right: 137px;
      top: 327px;
      width: 920px; }
      .home-wrap .into-wrap .car img {
        width: 100%;
        object-fit: contain; }
  .home-wrap .info-section {
    margin-top: 0;
    margin-bottom: 50px; }
    .home-wrap .info-section .item {
      padding: 28px 15px;
      align-items: center; }
      .home-wrap .info-section .item > div p {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 16px; }
  .home-form ul li {
    margin-right: 10px; }
    .home-form ul li button {
      padding: 15px 15px;
      font-size: 12px; }
  .home-form .form-wrap {
    padding: 45px 20px 35px 20px; }
    .home-form .form-wrap .button {
      margin-top: 30px; }
  .home-form .options label {
    font-size: 12px;
    margin-right: 22px; }
  .home-form .options button {
    margin-right: 15px; }
  .home-form textarea {
    resize: none;
    height: 120px;
    margin-bottom: 0 !important; } }

@media only screen and (min-width: 768px) and (max-width: 1099px) {
  .home-wrap .into-wrap {
    position: relative;
    height: unset;
    padding-bottom: 30px; }
    .home-wrap .into-wrap .container {
      height: unset;
      padding-top: 100px; }
      .home-wrap .into-wrap .container .row {
        /*display: flex;
                    align-items: center;
                    height: 100%;*/ }
    .home-wrap .into-wrap .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .home-wrap .into-wrap .background-image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
  .home-wrap .info-section {
    margin-top: 50px;
    margin-bottom: 50px; }
    .home-wrap .info-section .item {
      padding: 28px 15px;
      align-items: center; }
      .home-wrap .info-section .item > div p {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 16px; } }

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  .home-wrap .into-wrap {
    position: relative;
    height: unset;
    padding-bottom: 30px; }
    .home-wrap .into-wrap .container {
      height: unset; }
      .home-wrap .into-wrap .container .row {
        /*display: flex;
                    align-items: center;
                    height: 100%;*/ }
    .home-wrap .into-wrap .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .home-wrap .into-wrap .background-image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
  .home-wrap .info-section {
    margin-top: 50px;
    margin-bottom: 50px; }
    .home-wrap .info-section .item {
      padding: 28px 15px;
      align-items: center; }
      .home-wrap .info-section .item > div p {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 16px; } }

@media only screen and (min-width: 1200px) and (max-width: 1613px) {
  .options-col {
    flex: 0 0 100%;
    max-width: 100%; }
  .home-wrap .into-wrap .content h6 {
    font-size: 16px;
    font-weight: 400;
    color: #1F1F1F;
    padding-left: 55px;
    position: relative;
    margin-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 3px; }
    .home-wrap .into-wrap .content h6::after {
      content: ' ';
      width: 40px;
      height: 2px;
      display: block;
      background-color: #E97014;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0; }
  .home-wrap .into-wrap .content h1 {
    font-size: 40px;
    font-weight: 400;
    color: #1F1F1F;
    margin-bottom: 20px;
    line-height: 44px;
    text-transform: uppercase; }
    .home-wrap .into-wrap .content h1 > span {
      font-weight: 700; }
  .home-wrap .into-wrap .content p {
    font-size: 18px;
    font-weight: 400;
    color: #1F1F1F;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 0; }
  .home-wrap .into-wrap .right-content {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 64px;
    display: flex; }
    .home-wrap .into-wrap .right-content .item-1 {
      background-color: #E97014;
      padding: 12px 20px 12px 20px;
      margin-bottom: 20px; }
      .home-wrap .into-wrap .right-content .item-1 h6 {
        color: #FFFFFF;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 0; }
    .home-wrap .into-wrap .right-content .item-2 {
      background-color: #1F1F1F;
      padding: 38px 20px 32px 20px;
      margin-bottom: 20px; }
      .home-wrap .into-wrap .right-content .item-2 p {
        line-height: 28px;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0; }
    .home-wrap .into-wrap .right-content .item-3 {
      background-color: #FFFFFF;
      padding: 10px 20px 10px 20px;
      margin-bottom: 0; }
      .home-wrap .into-wrap .right-content .item-3 p {
        line-height: 24px;
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 0; }
  .home-wrap .info-section {
    margin-top: 0;
    margin-bottom: 110px; }
    .home-wrap .info-section .item {
      padding: 28px 30px;
      display: flex;
      align-items: flex-end; }
      .home-wrap .info-section .item .icon {
        width: 58px !important;
        height: 58px !important;
        border-radius: 50%;
        background-color: #1F1F1F;
        font-size: 40px;
        font-weight: 600;
        color: #FFFFFF;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .home-wrap .info-section .item > div p {
        color: #1F1F1F;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 30px; }
    .home-wrap .info-section .item-1 {
      background-color: #FFFFFF; }
    .home-wrap .info-section .item-2 {
      background-color: #1F1F1F; }
      .home-wrap .info-section .item-2 > div p {
        color: #FFFFFF; }
      .home-wrap .info-section .item-2 .icon {
        background-color: #E97014;
        color: #FFFFFF; }
    .home-wrap .info-section .item-3 {
      background-color: #E97014; }
      .home-wrap .info-section .item-3 > div p {
        color: #FFFFFF; } }

.page-wrap .into-wrap {
  position: relative;
  padding-top: 200px;
  height: 386px; }
  .page-wrap .into-wrap .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 386px; }
    .page-wrap .into-wrap .background-image img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .page-wrap .into-wrap h6 {
    font-size: 16px;
    font-weight: 400;
    color: #1F1F1F;
    padding-left: 55px;
    position: relative;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 3px; }
    .page-wrap .into-wrap h6::after {
      content: ' ';
      width: 40px;
      height: 2px;
      display: block;
      background-color: #E97014;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0; }
  .page-wrap .into-wrap .row {
    align-items: center; }
  .page-wrap .into-wrap h1 {
    font-size: 72px;
    font-weight: 600;
    color: #1F1F1F;
    margin-bottom: 0;
    line-height: 74px; }
  .page-wrap .into-wrap .bcrumb {
    display: flex;
    justify-content: flex-end; }
  .page-wrap .into-wrap ul {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    padding: 0; }
    .page-wrap .into-wrap ul li {
      font-size: 16px;
      font-weight: 400; }
      .page-wrap .into-wrap ul li a {
        color: #1F1F1F; }
      .page-wrap .into-wrap ul li::after {
        content: ' / ';
        margin: 0 10px; }
      .page-wrap .into-wrap ul li:last-child::after {
        display: none; }
      .page-wrap .into-wrap ul li:last-child a {
        color: #E97014; }

.content-section {
  margin-bottom: 98px;
  margin-top: 74px; }
  .content-section .item {
    margin-bottom: 74px; }
  .content-section h6 {
    font-size: 16px;
    font-weight: 400;
    color: #1F1F1F;
    padding-left: 55px;
    position: relative;
    margin-bottom: 0; }
    .content-section h6::after {
      content: ' ';
      width: 40px;
      height: 2px;
      display: block;
      background-color: #E97014;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0; }
  .content-section h2 {
    font-size: 54px;
    font-weight: 400;
    color: #1F1F1F;
    margin-bottom: 17px;
    line-height: 64px; }
    .content-section h2 > span {
      font-weight: 700; }
  .content-section p {
    font-size: 18px;
    font-weight: 400;
    color: #1F1F1F;
    line-height: 30px;
    margin-bottom: 54px; }
  .content-section img {
    width: 100%; }
  .content-section .left-anim {
    animation-name: left-animation;
    animation-duration: 0.5s; }
  .content-section .right-anim {
    animation-name: right-animation;
    animation-duration: 0.5s; }

.contact-section {
  margin-top: 60px;
  margin-bottom: 100px; }
  .contact-section .contact-form h6 {
    color: #1F1F1F;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px; }
  .contact-section .contact-form textarea {
    width: 100%;
    height: 200px;
    resize: none; }
  .contact-section .contact-info {
    background-color: #1F1F1F;
    color: #FFFFFF;
    padding: 30px 50px; }
    .contact-section .contact-info h5 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 7px; }
    .contact-section .contact-info h6 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 14px; }
    .contact-section .contact-info p {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 7px; }
    .contact-section .contact-info ul {
      list-style: none;
      margin-bottom: 50px;
      margin-top: 23px; }

.map-section {
  margin-bottom: -80px; }
  .map-section .map {
    height: 490px;
    width: 100%; }

@keyframes left-animation {
  from {
    transform: translateX(-200px); }
  to {
    transform: translateX(0); } }

@keyframes right-animation {
  from {
    transform: translateX(200px); }
  to {
    transform: translateX(0); } }

@media only screen and (max-width: 767px) {
  .page-wrap .into-wrap {
    position: relative;
    padding-top: 100px;
    height: 200px; }
    .page-wrap .into-wrap .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px; }
    .page-wrap .into-wrap h6 {
      font-size: 12px;
      padding-left: 35px; }
      .page-wrap .into-wrap h6::after {
        content: ' ';
        width: 20px; }
    .page-wrap .into-wrap .row {
      align-items: center; }
    .page-wrap .into-wrap h1 {
      font-size: 36px;
      line-height: 56px; }
    .page-wrap .into-wrap .bcrumb {
      display: none; }
  .contact-section .contact-form {
    margin-bottom: 30px; }
    .contact-section .contact-form h6 {
      color: #1F1F1F;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px; }
    .contact-section .contact-form textarea {
      width: 100%;
      height: 200px;
      resize: none; }
  .contact-section .contact-info {
    padding: 30px 15px; }
  .map-section {
    margin-bottom: 30px; }
    .map-section .map {
      height: 250px;
      width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-wrap .into-wrap {
    position: relative;
    padding-top: 100px;
    height: 200px; }
    .page-wrap .into-wrap .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px; }
    .page-wrap .into-wrap h6 {
      font-size: 12px;
      padding-left: 35px; }
      .page-wrap .into-wrap h6::after {
        content: ' ';
        width: 20px; }
    .page-wrap .into-wrap .row {
      align-items: center; }
    .page-wrap .into-wrap h1 {
      font-size: 54px;
      line-height: 56px; }
    .page-wrap .into-wrap .bcrumb {
      display: none; }
  .contact-section .contact-form {
    margin-bottom: 30px; }
    .contact-section .contact-form h6 {
      color: #1F1F1F;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px; }
    .contact-section .contact-form textarea {
      width: 100%;
      height: 200px;
      resize: none; }
  .contact-section .contact-info {
    padding: 30px 15px; }
  .map-section {
    margin-bottom: 30px; }
    .map-section .map {
      height: 250px;
      width: 100%; } }

html, body {
  min-height: 100%;
  min-height: 100vh;
  position: relative;
  width: 100%;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5; }

html, body, h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Poppins', sans-serif; }

@media only screen and (min-width: 1614px) {
  .container {
    max-width: 1614px; } }

@media only screen and (min-width: 1200px) and (max-width: 1613px) {
  .container {
    width: 100%;
    max-width: unset; } }

.whatsapp {
  position: fixed;
  bottom: 32px;
  right: 32px; }
  @media only screen and (max-width: 1200px) {
    .whatsapp {
      right: 15px;
      bottom: 15px;
      z-index: 999999; } }
  .whatsapp img {
    width: 64px;
    height: 64px; }
    @media only screen and (max-width: 1200px) {
      .whatsapp img {
        width: 52px;
        height: 52px; } }

button {
  cursor: pointer; }

.button {
  background-color: #E97014;
  border: 0;
  outline: none;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 700;
  padding: 17px 50px;
  transition: background-color 0.7s; }
  .button svg {
    margin-left: 19px; }
  .button:hover {
    background-color: #1F1F1F;
    color: #FFFFFF; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: transparent;
  transition: 0.6s top; }
  header .hamburger {
    display: none;
    z-index: 999; }
    header .hamburger button {
      width: 26px;
      background-color: transparent;
      border: 0;
      outline: none;
      padding: 0; }
      header .hamburger button > div {
        width: 100%;
        height: 3px;
        background-color: #E97014;
        margin-bottom: 6px;
        border-radius: 3px; }
  header .logo {
    padding: 50px 15px; }
  header .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header .desktop-nav .navigation {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0; }
      header .desktop-nav .navigation li {
        font-size: 16px;
        padding: 0 40px;
        font-weight: 600; }
        header .desktop-nav .navigation li a {
          text-decoration: none;
          color: #1F1F1F;
          text-transform: uppercase;
          position: relative;
          padding: 6px 0; }
          header .desktop-nav .navigation li a::after {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            animation-name: active-line-animation;
            animation-duration: 0.2s;
            background-color: #E97014;
            display: none; }
        header .desktop-nav .navigation li:hover {
          position: relative; }
          header .desktop-nav .navigation li:hover a::after {
            display: block; }
    header .desktop-nav .social {
      margin-left: 20px; }
      header .desktop-nav .social svg {
        margin: 0 10px; }

@keyframes active-line-animation {
  from {
    left: 50%;
    right: 50%; }
  to {
    left: 0;
    right: 0; } }

.scroll-header {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1); }
  .scroll-header .logo {
    padding: 10px 0; }

.hide-header {
  top: -135px; }

footer {
  background-color: #1F1F1F;
  color: #FFFFFF;
  padding-top: 120px; }
  footer .spacer {
    width: 100%;
    height: 1px;
    background-color: #707070;
    margin-top: 60px;
    margin-bottom: 40px; }
  footer .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 38px; }
    footer .copyright a {
      color: #FFFFFF;
      font-weight: 600; }
  footer .logo > svg {
    max-width: 100%;
    margin-bottom: 78px; }
    footer .logo > svg path[id=Path_74] {
      fill: #FFFFFF; }
  footer .logo .social a {
    margin-right: 20px; }
  footer .logo .social svg path {
    fill: #FFFFFF; }
  footer p {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400; }
  footer h6 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    footer ul > li {
      width: 50%;
      float: left; }
      footer ul > li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400; }

.mobile-navigation {
  z-index: 998;
  background-color: #E97014;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s left;
  left: 110%; }
  .mobile-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .mobile-navigation ul > li {
      text-align: center;
      margin-bottom: 16px; }
      .mobile-navigation ul > li a {
        color: #FFFFFF;
        font-size: 18px;
        text-transform: uppercase; }

.mobile-navigation-open {
  left: 0; }

.hamburger-animation button {
  position: relative;
  animation-name: hamburger-animation;
  animation-duration: 2s; }
  .hamburger-animation button > div {
    background-color: #FFFFFF !important;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    display: block; }
    .hamburger-animation button > div:nth-child(2) {
      display: none; }
    .hamburger-animation button > div:nth-child(1) {
      transform: rotate(45deg); }
    .hamburger-animation button > div:nth-child(3) {
      transform: rotate(-45deg); }

@keyframes hamburger-animation {
  from {
    transform: rotate(-360deg); }
  to {
    transform: rotate(360deg); } }

.required {
  animation-name: required-animation;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  border: 2px solid #c92323 !important; }

@keyframes required-animation {
  0% {
    transform: translateY(-3px); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(-3px); } }

@media only screen and (max-width: 767px) {
  header .hamburger {
    display: flex;
    justify-content: flex-end; }
  header .logo {
    padding: 10px 0; }
    header .logo svg {
      height: 50px; }
  header .desktop-nav {
    display: none; }
  footer .social {
    margin-bottom: 50px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .hamburger {
    display: flex;
    justify-content: flex-end; }
  header .logo {
    padding: 10px 0; }
    header .logo svg {
      height: 50px; }
  header .desktop-nav {
    display: none; }
  footer .social {
    margin-bottom: 50px; } }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  header .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header .desktop-nav .navigation {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0; }
      header .desktop-nav .navigation li {
        font-size: 16px;
        padding: 0 20px;
        font-weight: 600; }
        header .desktop-nav .navigation li a {
          text-decoration: none;
          color: #1F1F1F;
          text-transform: uppercase;
          position: relative;
          padding: 6px 0; }
          header .desktop-nav .navigation li a::after {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            animation-name: active-line-animation;
            animation-duration: 0.2s;
            background-color: #E97014;
            display: none; }
        header .desktop-nav .navigation li:hover {
          position: relative; }
          header .desktop-nav .navigation li:hover a::after {
            display: block; }
    header .desktop-nav .social {
      margin-left: 20px; }
      header .desktop-nav .social svg {
        margin: 0 10px; } }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 20px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
